<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="script.js"></script>
   <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>
<body>
   Data1
    <textarea name="1" id="1"></textarea>
    <br>
    Data2
    <textarea name="2" id="2"></textarea>
    <br>
    Result
    <textarea name="3" id="3"></textarea>
    <br>
    <br>
    <button class="heartbeat" id="4" onclick="fn()">click</button>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>