<!DOCTYPE html>
<html lang="en">
<head>
    <script src="fn.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> hi</h1>
    <h6>Input<h6>
    <input type="text" id="myInput">
    <button onclick="fn()" onmouseenter="anime(this)">click</button>
    <div>
        <h2 id="Result" onmouseenter="anime(this)" size =20><h2></h2>
    </div>
 
</body>
</html>