<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>

    
</head>
<body >
    Input
    <textarea name="1" id="1"></textarea>
    <br>
    <br>

    OutPut
    <textarea name="2" id="2" ></textarea>
    <br>
    <br>
    <button id="3" class="vibrate" onclick="f()">Click </button>
</body>
</html>